@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Outfit", sans-serif;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;

  background: var(
    --gradientes-gradiente-hover,
    linear-gradient(90deg, #9f55ff 0%, #ff46b9 100%)
  );

  display: grid;
  justify-content: center;
  align-items: center;
}

.container .page {
  width: 1100px;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  border-radius: 24px;
  border: 8px solid #ba86ff;

  background: #1e1f28;
}

.container .page .header {
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .page .header .btn {
  width: 27%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  align-items: center;
  gap: 8px;

  padding: .6rem;

  border-radius: 4px;
  background: var(--gradientes-gradiente-normal, linear-gradient(90deg, #8323FF 0%, #FF2DAF 100%));
  outline: none;
  border: none;

  transition: .2s ease-in all;
}

.container .page .header .btn:hover {
  filter: brightness(1.2);
}

.container .page .header .btn .circle {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #f8f8ff51;
}

.container .page .main {
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.container .page .main .card {
  width: 234px;
  height: 35%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: .5rem;
}

.container .page .main .card .card-header-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
}

.container .page .main .card .card-header-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .page .main .card .card-content img {
  width: 100%;
  border-radius: 12px;
}

.container .page .main .card .card-content {
  width: 100%;

}

.container .page .main .card .card-content .content-1 {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .page .main .card .card-content .content-2 {
  display: flex;
  align-items: center;

}

.container .page .main .card .card-content .content-2 * {
  font-size: small;
  color:#8B8D9B;
}

.container .page .main .card .card-header-2 p {
  color: #FEEA35;
}

.container .page .main .card .card-button {
  width: 100%;
  padding: .8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: .6rem;

  border-radius: 8px;
  border: none;

  background: #2b2b37;

  font-size: medium;

  transition: .2s ease-in all;

}

.container .page .main .card .card-button:hover {
  background: #373745;
}